.h1{
    font-size:65px ;
    font-weight: 10%;
    font-family: Arial;
text-shadow: 1px 3px;
filter:drop-shadow(3px 3px 2px #000000);
}
.button{
    width: 10%;
    height: 25%;
    background-color: red;
    border-radius: 10px;
}
.body{
    background-color: linen;
    font-size: 24px;
}
.love-quote{
    text-align: center;
    justify-content: center;
    margin: 0% auto;
    color: maroon;
    text-underline-position: below;
    font-family: monospace;
    font-weight: 50%;
}
.top{
    width: 70px;
    height: 50px;
    background:linear-gradient(red,maroon ,linen);
    box-shadow: 2px 3px 3px black;
    border-radius: 50px;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

@media screen and (max-width:600px) {
    .body{
        background-color:linen;
       
    }
    .h1{
        font-size: 40px;
    }
    .body{
        font-size:15px ;
    }
    .div-image{
        width: 85%;
    }
}

.h3a{
    color: maroon;
    background-color: linen;
    text-align: center;
}
.div-image{
    position:relative;
    left: 30%;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: linen;
    filter: drop-shadow(4px 4px 8px 4px grey);
    transition-duration: 1s;
border-radius: 5px;
}
.button3{
    border-radius:10px;
    height: 8%;
    width: 30%;
    filter: drop-shadow(4px 4px 6px black);
    color: gold;
    font-size: 20px;
    background-color: maroon;
}
.button4{
    border-radius:10px;
    height: 8%;
    width: 15%;
    filter: drop-shadow(4px 4px 6px black);
    color: gold;
    font-size: 20px;
    background-color: maroon;
    transition-duration: 1s;
}
.button4:hover{
width: 20%;
background:linear-gradient(to left ,red ,maroon) ;
}
#grad1{
    height: 150px;
    border-radius: 10px;
    border: 2px solid #78969D;
    background: linear-gradient(maroon, red 50%, maroon);
    filter: drop-shadow(3px 3px 4px black);
    transition-duration: 1s ;
}
#grad1:hover {
    transition-duration:3s;
    height: 150px;
    font-weight: 250;
    background: linear-gradient(red,maroon 50%,red);
}
.b{
text-align: center;
}
.h6{
    font-style: gorgial;
    font-size: 400px;
}
.a{
    color: gold;
}
.a:hover{
    color: gold;
}
.h2{
    font-style: arial sans serif;
    color: maroon;
    text-align: center;
}
#grad2{
    height: 550px;
border-radius: 10px;
border: 2px solid #78969D;
background: linear-gradient(to left, maroon,red);
}
.ol{
    color: gold;
}
.button2{
    border-radius:10px;
    height: 45px;
    width: 300px;
    filter: drop-shadow(4px 4px 6px grey);
    color: gold;
    font-size: 20px;
    background-color: maroon;
}
.input{
    border-radius: 10px;
    height: 33px;
    width: 155px;
}
.input:hover{
    background-color: yellow;
    transition-duration: 1s;
    width: 225px;
    border-radius: 20px;
}
.hr{
    height: 6px;
    width: 90%;
    filter: drop-shadow(4px 4px 8px grey);
    background-color: #000000;
}
.nav-bar a {
text-decoration: none;
color: #000000;
display: block;
}
.nav-bar > ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    border-left: 2px solid black;
}
.nav-bar > ul > li > a {
    padding: 10px;
    background: lightgray;
    border-left: 2px solid black;
}
.nav-bar > ul > li > :hover{
    background-color: maroon;
    color:black;
    border-left: 2px solid black;
}
.nav-bar .active{
    background:maroon;
    color: gold;
    border-left: 2px solid black;
}
.nav-bar li {
float: left;
width: 25%;
text-align: center;
border-left: 2px soloid #333;
}
.nav-bar li:last-child{
    border-left: 2px solid black;
}
* {
    box-sizing: border-box;
}
.image-container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    background-color: linen;
    filter: drop-shadow(4px 4px 8px grey);
    margin-bottom: 20px;
    transition-duration: 1s;
}
.image-container:hover{
    width:70%;
     border-radius: 20px;
    shadow: 3px 5px 3px black;
}
.image{
    width: 100%;
    height: auto;
}
.image-description{
    padding: 0 15px 15px 15px;
    text-align: center;
}
.image-description:hover{
    padding: 0 15px 15px 15px;
    text-align: center;
    color: maroon;
}
.footer{
    background: maroon;
    color: gold;
    width: 100%;
    height: auto;
    text-align: center;
}
.h3{
    color: maroon;
    text-align: center;
    text-shadow: 1px 2px 3px grey;
}
.WRAPPER{
    display: flex;
    flex-direction: row;
}
.imgdev{
margin: 0 auto;
    border-radius: 15%;
    width: 100%;
}
.imgdev2{
margin: 0% auto;
width: 30%;
height: 80%;
border-radius: 20px;
background: linen;
text-align: center;
font-size: 80%;
box-shadow: 4px 9px 25px grey;
}
.gallery2{
    width: 80%;
    
    border-radius: 10%;
    margin: 0% auto;
background:radical-gradien(to left,linen ,rgb(243, 167, 91))  ;

}
.gimg{
    width: 90%;
    border-radius: 10px;
    margin: 0% auto;
    transition-duration: 1s;
    box-shadow: 7px 7px 15px black;
}
.gimg2{
    width: 80%;
    display: grid;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    grid-template-columns: auto auto;
    margin: 0% auto;
    background: linear-gradient(to left,rgb(247, 151, 56), maroon,rgb(247, 151, 56));
}
.gimg:hover{
width:110% ;
box-shadow: 6px 6px 3px black;
}
.slide{
    max-width: 95%;
    background: maroon;
    border: 20px solid brown;
    margin: 0% auto;
    border-style: double;
}
.img-slide{
width: 10%;

transition-duration: 1s;
}
.img-slide:hover{
    width: 20%;
    
}
.center{
    margin: 0% auto;
}
/*    FORM     */
.body2{
    background-image:url('LOVE3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.container2{
    backdrop-filter: blur(20px);
    height: 70%;  
    width: 70%;
    position:absolute;
    right: 14%;
    top: 10%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 10px 3px black;
}
.h201{
    color: gold;
    font-family: Roboto;
    font-size:xx-large;
}
.h301{
   color: gold;
   font-family:Arial, Helvetica, sans-serif;
   font-size: medium; 
}
.input01{
    width: 70%;
    background: none;
    border-top:none ;
    border-left:none ;
    border-right:none;
    outline: none;
    color: gold;
    text-align: center;
    background: none;
    font-size: large;
    border-bottom:3px solid gold ;
}
.input01::placeholder{
color: gold;
font-size: large;
}
.sp{
    position: absolute;
    left: 15%;
}
.spa{
    position: absolute;
    right: 15%;
    font-size: large;
}
.submit{
    height: 13%;
    color: gold;
    width: 70%;
    border-radius: 20px;
    font-size: larger;
    font-weight: 30%;
    position: absolute;
    top: 80%;
    left: 15%;
    border-width: 3px;
    border-color: gold;
    background: linear-gradient(to right,maroon 70%,gold );
}
.divx{
    margin: auto;
    width: 50%;
    height: 390px;
    border-radius: 50%;
    background: linear-gradient( maroon , yellow);
    box-shadow: 3px 3px 3px black;
}
.spanx{
    color: linear-gradient(gold,red);
    font-size: 50px;
}
.divx1{
    font-size: 50px;
    color: green;
    text-align: center;
    width: 20%;
    height: 190px;
    border-radius: 50%;
    background: linear-gradient( maroon , yellow);
    box-shadow: 3px 3px 3px red;
}